[run]
branch = True
parallel = True

[report]
exclude_lines = 
  # the original excludes
  pragma: no cover
  pragma: nocover
  
  # stuff that we don't worry about
  pass
  __name__ == '__main__'

[paths]
src = 
  ./mush/
  C:\Jenkins\workspace\mush-buildout\*\mush\
  /var/lib/jenkins/slave/workspace/mush-buildout/*/mush/
  /Users/Shared/Jenkins/Home/workspace/mush-buildout/*/mush/
