# This buildout is used for development of checker.
# It gets the necessary eggs and creates a test runner and a python
# interpreter.

[buildout]
develop = .
parts = py docs

[py]
recipe = zc.recipe.egg
eggs = mush[test]
interpreter = py
dependent-scripts = true

[docs]
recipe = zc.recipe.egg
eggs =  
  mush[test]
  sphinx
  zc.rst2
  pkginfo
  setuptools-git
interpreter = docpy
